/* CUSTOM PROPS */
:root {
  --gray-50: #f5f5f5;
  --gray-100: #d9d9d9;
  --gray-200: #a8a8a8;
  --gray-500: #5c5c5c;
  --dark: #1c1c1c;
  --yellow: #ffd600;
}

/* GLOBAL */
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  margin: 0;
  font-family: "Work Sans", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background-color: var(--gray-50);
}

img {
  height: auto;
}

main {
  padding: 120px 0;
}

/* CONTAINER */
.container {
  width: 100%;
  max-width: 1190px;
  margin-left: auto;
  margin-right: auto;
}

/* MAIN-CONTENT */
.main-content {
  flex-grow: 1;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (min--moz-device-pixel-ratio: 2),
  only screen and (-o-min-device-pixel-ratio: 2/1),
  only screen and (min-device-pixel-ratio: 2),
  only screen and (min-resolution: 192dpi),
  only screen and (min-resolution: 2dppx) {
}

.certificate {
  z-index: 5;
}

/* ========== Certificate Header ========== */

.certificate__header {
  position: relative;
  z-index: 100;
  background-color: var(--dark);
  padding: 65px 115px 206px;
}

.certificate__header-wrapper {
  position: relative;
  z-index: 100;
}

.certificate__header-top-image {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  z-index: 10;
}

.certificate__course {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.certificate__course-logo {
  padding-bottom: 28px;
  animation: zoom;
  animation-duration: 0.3s;
}

@keyframes zoom {
  0% {
    opacity: 0.5;
    transform: scale(0.4);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.certificate__course-title {
  max-width: 384px;
  width: 100%;
  color: var(--gray-100);
  font-weight: 600;
  font-size: 34px;
  line-height: 1.235294118;
}

.certificate__course-title .name {
  color: var(--yellow);
}

.certificate__title {
  color: #fff;
  font-weight: 800;
  font-size: 147.23px;
  line-height: 1.172994634;
  letter-spacing: 0.07em;
  text-align: left;
  margin-top: 36px;
  white-space: nowrap;
}

.certificate__reciepent {
  color: #fff;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.173035714;
  text-align: left;
  margin-top: 30px;
}

.certificate__details {
  margin-top: 24px;
  color: var(--gray-200);
  font-size: 26px;
  font-weight: 500;
  line-height: 1.615384615;
  text-align: left;
  width: 100%;
  max-width: 793px;
}

.certificate__details span {
  color: #fff;
}

/* ========== Certificate Footer ========== */

.certificate__footer {
  position: relative;
  background-color: #fff;
  padding: 205px 115px 85px;
}

.certificate__footer-top-image {
  position: absolute;
  left: 0;
  top: 0px;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  z-index: 10;
}

.certificate__footer-wrapper {
  display: flex;
  justify-content: space-between;
  position: relative;
  z-index: 100;
}

.certificate__signature {
  display: flex;
  flex-direction: column;
  align-self: flex-end;
}

.certificate__signature-img {
  padding-bottom: 14px;
  border-bottom: 1px solid #000;
}

.certificate__signature-inner {
  padding-top: 24px;
}

.certificate__signature-inner span {
  font-size: 24px;
  line-height: 1.458333333;
  text-align: left;
}

.certificate__signature-inner .name {
  font-weight: 500;
}

.certificate__date {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  align-self: flex-end;
}

.certificate__date-text {
  padding-top: 60px;
  color: var(--gray-500);
  font-size: 24px;
  font-weight: 500;
  line-height: 1.458333333;
}

.certificate__qrcode {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 0px;
}

.certificate__qrcode-img {
  position: absolute;
  z-index: 100;
}

/* ========== Responsive Certificate ========== */

@media screen and (max-width: 1200px) {
  .certificate__title {
    font-size: 120px;
  }
}

@media screen and (max-width: 1024px) {
  .certificate__title {
    font-size: 80px;
    margin-top: 12px;
    text-align: center;
  }
  .certificate__reciepent {
    font-size: 48px;
    margin-top: 12px;
    text-align: center;
  }

  .certificate__course {
    flex-direction: column-reverse;
    align-items: center;
  }

  .certificate__course-title {
    text-align: center;
  }

  .certificate__details {
    text-align: center;
  }

  main {
    padding: 0;
  }
}

@media screen and (max-width: 768px) {
  .certificate__header {
    padding: 65px 30px 120px;
  }

  .certificate__footer {
    padding: 120px 30px 60px;
  }

  .certificate__footer-wrapper {
    flex-direction: column-reverse;
    align-items: center;
    gap: 36px;
  }

  .certificate__date {
    align-self: start;
  }
}

@media screen and (max-width: 680px) {
  .certificate__title {
    font-size: 64px;
    margin-top: 12px;
    text-align: center;
  }

  .certificate__reciepent {
    font-size: 32px;
    text-align: center;
  }

  .certificate__details {
    font-size: 20px;
  }

  .certificate__course-logo {
    max-width: 360px;
  }

  .certificate__date-text {
    text-align: center;
  }

  .certificate__signature,
  .certificate__date {
    align-items: center;
    align-self: center;
  }
}

@media screen and (max-width: 480px) {
  .certificate__title {
    font-size: 48px;
    margin-top: 12px;
    text-align: center;
  }

  .certificate__reciepent {
    font-size: 28px;
    text-align: center;
  }

  .certificate__header {
    padding: 45px 16px 120px;
  }

  .certificate__footer {
    padding: 120px 16px 45px;
  }

  .certificate__course-title {
    font-size: 24px;
  }

  .certificate__course-logo {
    max-width: 240px;
  }
}
